<div class="container">
  <div class="klax-app-name">
    FACT VLOP Policy Tracker
  </div>

  <h3>Welcome</h3>

  <p class="klax-lead"><b><%= @invited_by&.display_name %></b> added you to FACT VLOP Policy Tracker, an app enabling reporters and editors to monitor scores of sites and files on the web and get notified of newsworthy changes. Click below to login.</p>

  <p><a class="klax-button" href="<%= @url %>">Get Started with FACT VLOP Policy Tracker</a></p>

</div>
